services:
  mysql:
    image: mysql:8.0.36
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      retries: 3

  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    ports:
      - "5672:5672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200"]

  migrate:
    build: ./backend
    command: npm run db:migrate
    env_file:
      - .env
    depends_on:
      mysql:
        condition: service_healthy

  seed:
    build: ./backend
    command: npm run db:seed
    env_file:
      - .env
    depends_on:
      migrate:
        condition: service_completed_successfully
      elasticsearch:
        condition: service_started

  api:
    build: ./backend
    container_name: news-server
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      mysql:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
      seed:
        condition: service_completed_successfully
    command: npm run start:api

  frontend:
    build: ./frontend
    container_name: news-frontend
    ports:
      - "5173:5173"
    depends_on:
      api:
        condition: service_started

  worker:
    build: ./backend
    container_name: news-worker
    env_file:
      - .env
    depends_on:
      mysql:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
      seed:
        condition: service_completed_successfully
    command: npm run start:worker
